@import "tailwindcss";

@theme {
  --color-primary: #064e3b;
  --color-primary-light: #059669;
  --color-background: #fafaf9;
  --color-text: #1f2937;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
